
@import "css/src/reset.less";

html, body {
  width: 100%;
  height: 100%;
}

@import "css/src/highlightjs-agate";

@import "css/src/documentation";
@import "css/src/github-markdown";

@import "css/src/preview";
@import "css/src/previews/liebeIst";
@import "css/src/previews/iohk";
@import "css/src/previews/pragueBest";