#documentation {
  margin: 50px auto 0;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;

  @media (max-width: 767px) {
    padding: 15px;
  }

  ul {
    list-style: disc;
  }

  em {
    font-style: italic;
  }
}