body {
  font-family: 'Roboto Slab', serif;
  overflow-x: hidden;
}

menu {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #ccc;
  padding: 10px;

  strong {
    display: block;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: .25em;
  }

  .col {
    float: left;
    padding: 0 15px 0 0;
  }

  ul li {
    margin-top: 5px;

    a {
      color: #333;

      &:hover, &.active {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

#config {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  width: 25%;
  height: 100vh;

  padding: 10px;
  background-color: #222;
  box-sizing: border-box;

  h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;

    a {
      color: #fff;
      text-decoration: none;
      cursor: default;
    }
  }

  .config-wrap {
    overflow: auto;

    .config-pre {
      padding: 5px;
      border: 0;
      overflow: auto;
      background-color: #111;

      .config-content {
        font-family: 'Roboto', sans-serif;
        font-size: .9rem;
        line-height: 1.2rem;
        color: #ccc;
      }
    }
  }
}

section {
  position: relative;
  width: 100%;
  padding: 0;

  &#preview {
    height: 100vh;
    background-color: #eee;
    overflow: hidden;
    box-sizing: border-box;

    .foreground {
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .center {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;

        .claim {
          text-align: center;

          h1 {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 3rem;
            margin-bottom: 2rem;
            line-height: 4rem;
          }

          p {
            width: 50%;
            margin-left: 25%;
            color: #fff;
            font-size: 1.25rem;
            line-height: 1.5rem;
            font-weight: 100;
            margin-bottom: 40px;

            strong {
              font-weight: bold;
            }
          }

          .btn-wrap {
            .btn {
              display: inline-block;
              background-color: transparent;
              border: 2px solid #fff;
              padding: 15px 25px;
              color: #fff;
              font-size: 1.25rem;
              font-weight: bold;
              text-decoration: none;
              text-transform: uppercase;
              transition: .5s all ease;

              &:hover {
                background-color: #fff;
                color: #333;
              }
            }
          }
        }
      }
    }

    .background {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #resize-wrap {
      position: absolute;
      box-sizing: border-box;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      #test-container {
        width: 100%;
        height: 100%;
        background-color: #333;
        overflow: hidden;
        box-sizing: border-box;
      }
    }
  }

  &#documentation {
    background-color: #fff;
    box-sizing: border-box;

    .container {
      max-width: 960px;
      padding: 20px 50px;
      margin: auto;
    }
  }
}