#preview-container.previewSeriousRed {
  height: 50%;

  menu {
    background-color: transparent;

    .foreground {
      position: relative;
      z-index: 999;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;

      strong {
        color: #ef131d;
        text-transform: uppercase;
        font-weight: 400;
      }

      ul li {
        margin-top: 5px;

        a {
          color: #fff;
          text-decoration: none;
          border-bottom: 1px solid rgba(239, 19, 29, 0);
          transition: .5s all ease;

          &:hover, &.active {
            color: #ef131d;
            border-bottom: 1px solid rgba(239, 19, 29, .5);
          }
        }
      }
    }

    .background {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .9);
    }
  }

  #config {
    height: 50%;
    right: -25%;
    transform: translate(-10px, 0);
    padding: 0;
    background-color: transparent;

    &.show {
      right: 0;
      transform: translate(0, 0);
    }

    h3 {
      position: absolute;
      bottom: 0;
      right: 100%;
      white-space: nowrap;
      background-color: rgba(27, 31, 38, .5);
      border-top: 1px solid rgba(200, 200, 200, .5);
      border-left: 1px solid rgba(200, 200, 200, .5);
      border-right: 1px solid rgba(27, 31, 38, 1);
      border-top-left-radius: 5px;
      margin-top: 0;
      margin-bottom: 0;
      transform: translate(1px, 0);

      a {
        display: inline-block;
        height: 2.3rem;
        line-height: 2.4rem;
        padding: 0 15px;
        font-size: 1rem;
        font-weight: bold;
        color: #ddd;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;

        &:after {
          content: "▶";
          font-size: .75rem;
          position: relative;
          top: -.1rem;
          padding-left: .5rem;
        }
      }
    }

    .config-wrap {
      background-color: rgba(27, 31, 38, .5);
      border-left: 1px solid rgba(200, 200, 200, .5);
      height: 100%;
      padding: 10px;
      box-sizing: border-box;

      .config-pre {
        background-color: rgba(255, 255, 255, .1);

        .config-content {
          color: #fff;
        }
      }
    }
  }

  #preview {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;

    .foreground {
      .center {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .claim {
          text-align: center;
          padding: 0;
          max-width: 50%;

          h1 {
            font-size: 3rem;
            letter-spacing: .1rem;
            text-transform: uppercase;
            margin-bottom: 1rem;

            font-family: 'Electrolize', sans-serif;
            color: #ef131d;
            text-shadow: #ef131d 0 0 4px;
          }

          p {
            width: 100%;
            margin-left: 0;
            font-size: 1.25rem;
            line-height: 1.5rem;
            color: #fff;
          }

          .btn-wrap {
            margin-top: 20px;

            .btn {
              display: inline-block;
              background-color: rgba(27, 31, 38, .5);
              border: 1px solid rgba(200, 200, 200, .5);
              height: 2.3rem;
              line-height: 2.4rem;
              padding: 0 15px;
              font-size: 1rem;
              font-weight: bold;
              color: #ddd;
              text-decoration: none;
              text-transform: uppercase;
              border-radius: 5px;
              transition: .5s all ease;

              &:after {
                content: "▶";
                font-size: .75rem;
                position: relative;
                top: -.1rem;
                padding-left: .5rem;
              }
            }
          }
        }
      }
    }

    .background {
      background-color: #000;

      #resize-wrap {
        height: 100%;

        #test-container {
          background-color: #150e10;
        }
      }
    }
  }
}