#preview-container.previewCreativeLines {

  menu {
    background-color: transparent;
    font-family: 'Gudea', sans-serif;

    .foreground {
      position: relative;
      z-index: 999;
      color: #fff;

      strong {
        text-transform: uppercase;
        font-size: 1.125rem;
      }

      ul li {
        margin-top: 5px;

        a {
          color: #fff;

          &:hover, &.active {
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }

    .background {
      position: absolute;
      z-index: 0;
      top: -250%;
      left: -210%;
      width: 300%;
      height: 500%;
      background-color: #8F3C43;
      transform: rotate(35deg);
    }
  }

  #config {
    height: 100%;
    right: -25%;
    transform: translate(-10px, 0);
    padding: 0;
    background-color: transparent;

    &.show {
      right: 0;
      transform: translate(0, 0);
    }

    h3 {
      position: absolute;
      bottom: 0;
      right: 100%;
      white-space: nowrap;
      background-color: #8F3C43;
      margin-top: 0;
      margin-bottom: 0;

      a {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
      }
    }

    .config-wrap {
      background-color: #8F3C43;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;

      .config-pre {
        background-color: rgba(0, 0, 0, .25);

        .config-content {
          color: #fff;
        }
      }
    }
  }

  #preview {
    font-family: 'Gudea', sans-serif;

    .foreground {
      .center {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;

        .claim {
          text-align: center;
          padding: 50px;
          background-color: rgba(255, 255, 255, .9);

          h1 {
            font-size: 3rem;
            letter-spacing: .1rem;
            text-transform: uppercase;
            margin-bottom: 1rem;

            font-family: 'Gudea', sans-serif;
            color: #8F3C43;
          }

          p {
            width: 80%;
            margin-left: 10%;
            font-size: 1.25rem;
            line-height: 1.5rem;
            color: #8F3C43;
          }

          .btn-wrap {
            margin-top: 15px;

            .btn {
              display: inline-block;
              background-color: #8F3C43;
              border: 1px solid #8F3C43;
              height: 2.5rem;
              line-height: 2.5rem;
              padding: 0 25px;
              font-size: 1.25rem;
              color: #fff;
              text-decoration: none;
              text-transform: uppercase;
              transition: .5s all ease;

              &:hover {
                background-color: transparent;
                border: 1px solid #8F3C43;
                color: #8F3C43;
              }
            }
          }
        }
      }
    }

    #resize-wrap {
      #test-container {
        background-color: #EBDEDA;
      }
    }
  }
}