#preview-container.previewWarmOrange {

  menu {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: #fff;

    .foreground {
      position: relative;
      z-index: 999;

      strong {
        font-weight: bold;
        text-transform: uppercase;
        color: #1b1f26;
        font-size: 1rem;
        display: inline-block;
        margin-bottom: 5px;
      }

      ul li {
        margin-top: 5px;

        a {
          display: inline-block;
          color: #fff;
          text-decoration: none;
          font-weight: 100;

          &:after {
            content: "";
            display: block;
            width: 0;
            height: 1px;
            background-color: #fff;
            margin-top: 1px;
            transition: .33s ease all;
          }

          &:hover, &.active {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }

    .background {
      position: absolute;
      z-index: -1;
      top: -150px;
      left: -30px;
      width: 300px;
      height: 350px;
      background-color: #E04855;
      transform: rotate(35deg);

      &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        top: -99px;
        left: -68px;
        width: 100%;
        height: 100%;
        background-color: #f14e5b;
        transform: rotate(30deg);
      }
    }
  }

  #config {
    right: -25%;
    transform: translate(-10px, 0);
    padding: 0;
    background-color: transparent;

    &.show {
      right: 0;
      transform: translate(0, 0);
    }

    h3 {
      position: absolute;
      bottom: 0;
      right: 100%;
      white-space: nowrap;
      background-color: #E04855;
      margin-top: 0;
      margin-bottom: 0;

      a {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
      }
    }

    .config-wrap {
      background-color: #E04855;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;

      .config-pre {
        background-color: rgba(0, 0, 0, .25);
      }

      .config-content {
        color: #fff;
      }
    }
  }

  #preview {
    font-family: 'Roboto', sans-serif;

    .foreground {
      .center {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;

        .claim {
          text-align: center;

          h1 {
            font-size: 4.5rem;
            letter-spacing: .1rem;
            margin-bottom: 2.2rem;

            font-family: 'Roboto', sans-serif;
            color: #fff;
            line-height: 5.5rem;

            .particles {
              color: #1b1f26;
              opacity: .8;
            }
          }

          p {
            width: 50%;
            margin-left: 25%;
            font-size: 1.25rem;
            line-height: 1.5rem;
            color: #fff;
            margin-bottom: 40px;

            &:after {
              content: "";
              display: block;
              width: 50%;
              margin-left: 25%;
              height: 1px;
              background-color: #fff;
              margin-top: 35px;
            }
          }

          .btn-wrap {
            .btn {
              display: inline-block;
              background-color: #1b1f26;
              border: 2px solid #1b1f26;
              height: 3rem;
              line-height: 3rem;
              padding: 0 25px;
              border-radius: 1.5rem;
              color: #fff;
              font-size: 1.25rem;
              font-weight: bold;
              text-decoration: none;
              text-transform: uppercase;
              transition: .5s all ease;

              &:hover {
                background-color: transparent;
                border: 2px solid #1b1f26;
                color: #1b1f26;
              }
            }
          }
        }
      }
    }

    #resize-wrap {
      #test-container {
        background-image: url(../background-gradient.jpg);
        background-size: cover;
      }
    }
  }
}